.App {
  text-align: center;
  color: white;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
  overflow-y: scroll;
}

.card {
  background-color: rgb(25, 25, 25);
  box-shadow: white;
  border-radius: 15px;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card {
  box-shadow: 0 0px 8px 0 white;
}

.circle {
  border-radius: 100px;
  margin-right: 1rem;
  margin-left: 10px;
}

.circlee {
  border-radius: 100px;
}

.college {
  padding-top: 3rem;
}

.cert {
  display: inline-flex;
  margin-top: 2rem;
  width: 40rem;
  height: 3.5rem;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 40%);
}

.cert:hover {
  box-shadow: 0px 0px 8px white;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  background-color: rgb(44, 43, 43);
  border: 4px solid white;
  border-collapse: collapse;
}

.divv {
  display: inline-flex;
  margin-top: 10rem;
}

.hone{
  padding-top: 4.5rem;
  text-align: left;
}

.cards {
  align-items: center;
}

h1 {
  padding-top: 4.5rem;
}

.p1 {
  padding-top: 7rem;
}

.card-text {
  line-height: 2rem;
  padding-bottom: 1rem;
  height: 160px;
  vertical-align: middle;
  align-items: center;
  display: flex;
}

.formm {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 32rem;
}

.hov:hover {
  transform: scale(1.3);
}

.box {
  justify-content: center;
  display: flex;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 40%);
  width: 100%;
  height: 450px;
}

.icons-box {
  display: inline-flex;
  padding-bottom: 10px;
}

.icon {
  margin-top: 8px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  display: block;
}

.icon:hover {
  transform: scale(1.3);
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: inherit;
}

.form-button {
  background-color: transparent;
  width: 100px;
  border-radius: 7px;
  color: white;
  box-shadow: 0px 0px 3px white;
}

.form-button:hover {
  box-shadow: 0px 0px 8px white;
}

.h5 {
  text-align: left;
}

.p2 {
  margin-left: 15rem;
  margin-right: 15rem;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 750px) {
  .cert {
    width: 85%;
  }
}

@media only screen and (max-width: 760px) {
  .prof {
    flex-direction: column;
  }
}

@media only screen and (max-width: 345px) {
  .cardd {
    height: 50rem;
  }
  .card-img-top {
    width: calc(100%);
  }
}

@media only screen and (max-width: 600px) {
  .p2 {
    width: 275px;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .divv {
    flex-direction: column;
    align-items: center;
  }

  .hone {
    text-align: center;
    padding-left: 0px;
  }

  .h5 {
    text-align: center;
    margin-left: 9px;
    margin-right: 9px;
  }

}

@media only screen and (max-width: 660px) {
  .formm {
    width: 15rem;
    margin: auto;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
